/* 共通スタイル */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}



.form, .registration {
  padding: 1rem;
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: 1fr;
}

.input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.label {
  width: 100px;
  text-align: left;
  margin-right: 10px;
}

.inputField {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}


.todayButton {
  padding: 4px 8px;
  font-size: 16px;
  margin: 0 0 15px 10px;
  white-space: nowrap; /* 改行防止 */
}


.whoInputWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 追加: 子要素を左右に配置 */
}

.soloButton {
  padding: 4px 8px;
  font-size: 16px;
  margin: 0 0 10px 30px;
  white-space: nowrap; /* 改行防止 */
}

.datePickerIcon {
  display: flex;
  align-items: center;
  border: 1px solid #707070;
  border-radius: 2px;
  margin: 0 0 10px 10px;
}

/* スマホ向けのスタイル */
@media (max-width: 768px) {
  .main {
    padding: 1rem;
    align-items: flex-start;
    min-height: auto;
  }

  .title {
    white-space: nowrap;
  }

  .inputField {
    width: 100%;
    margin-bottom: 10px;
  }

  .todayButton, .soloButton {
    margin-bottom: 20px;
  }
}
